Repository vitspot/leetcode-daily, pull requests merged in 2021-09, with the labels that each got.

#3 September : 1 : C++
  2021/september/day-1/README.md
  2021/september/day-1/array_nesting.md
  2021/september/day-1/solution.cpp
Labels: language:c++, solution

#4 solution: 2021 / september / 01 / cpp / 2
  2021/september/day-1/solution2.cpp
Labels: language:c++, solution

#5 solution: 2021 / september / 01 / cpp / 3
  2021/september/day-1/solution3.cpp
Labels: language:c++, solution

#8 solution: 2021 / september / 03 / cpp / 1
  2021/september/day-3/README.md
  2021/september/day-3/solution.cpp
Labels: language:c++, solution

#10 solution: 2021 / september / 05 / cpp / 1
  2021/september/day-5/readme.md
  2021/september/day-5/solution1.cpp
Labels: language:c++, solution

#9 solution: 2021 / september / 05 / py / 1
  2021/september/day- 5/readme.md
  2021/september/day- 5/soltuion.py
Labels: solution, language:py

#14 solution: 2021 / september / 06 / cpp / 2
  2021/september/day-6/solution2.cpp
Labels: language:c++, solution

#15 day-7 solution
  2021/september/day-7/README.md
  2021/september/day-7/solution1.cpp
Labels: documentation, language:c++

#17 day 8 solution
  2021/september/day - 8/README.md
  2021/september/day - 8/solution.py
Labels: solution, language:py

#19 day-9 solution
  2021/september/day-9/README.md
  2021/september/day-9/solution1.cpp
Labels: language:c++, solution

#26 solution: 2021 / september / 20 / cpp / 2
  2021/september/day-20/solution2.cpp
Labels: language:c++, solution

#28 September : 14 : C++
  2021/september/day-14/readme.md
  2021/september/day-14/solution.cpp
Labels: language:c++, solution

#29 September : 15 : Cpp
  2021/september/day-15/readme.md
  2021/september/day-15/solution.cpp
  2021/september/readme.md
Labels: language:c++, solution

#38 2021/september/24/cpp/2
  2021/september/day-24/solution1.cpp
Labels: language:c++, solution

#39 Sep/24/2021/py
  2021/september/day-24/solution1.py
Labels: solution, language:py

#44 2021/09/13
  2021/september/day- 27/readme.md
  2021/september/day-27/solution.py
  2021/september/day-27/solution2.cpp
Labels: language:c++, solution, language:py

#46 2021/September/28
  2021/september/day-28/solution1.py
Labels: solution, language:py
